body{
    text-align: center;
    /*Centralizar o nosso quadro (canvas)*/
<<<<<<< HEAD
	background-image:url('city.png'); /*imagem usada de fundo no site*/
	background-size:cover;/*faz a imagem cobrir todo o fundo sem repetição*/
=======
    background-color: #2d2c32;
    /*Cor de fundo cinza para a página toda, exceto o canvas*/
>>>>>>> 101eb078733dc345387fe6e6ec7965799e32e091
}

/*Começando a estilizar nosso canvas*/
#board{
    background-color: black;
    /*cor de fundo da cor preta*/
    border-top: 5px solid #ff9b68;
    border-left: 5px solid #ff9b68;
    border-right: 5px solid #ff9b68;
    /*Dando cor as bordas do jogo*/
}

<<<<<<< HEAD
/*tamanho e alterações do icone do audio*/
#audios{
	width:10;
	height;5;
}

/*alteração do botão*/
#btn{
	background-color:#ac00e6;
	border:10;
	border-color:#e68a00;
}
=======
<<<<<<< HEAD
/*tamanho e alterações do icone do audio*/
#audios{
	width:50;
	height;10;
}
=======
>>>>>>> f7382e592dd28a5fd6e34aa43cdd1d2ee8f5ea43
>>>>>>> 101eb078733dc345387fe6e6ec7965799e32e091
